
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  
 }
 .miami-font{
    font-family: "miama";
    src: url(fonts/miama.regular.ttf);

 }
 body{
    background-color: #111111;
 }
 /* header style */
 .brand{
    font-weight: 600;
    font-size: 36px;
    color: #E6533C;
    font-style: italic;
    margin-bottom: -46px;
 }
 header{
    max-width: 1040px;
    margin: 0 auto ;

}

 .navbar{}

 .nav-links{
    list-style: none;
    display: flex;
   justify-content: right;
   align-items: center;
 }
 .nav-item{
    margin-right: 20px;
    
}
.nav-link{
     text-decoration: none;
     color: #fff;
     padding: 10px;
     
     
 }
 #home{
    background-color: #E6533C;
    border-radius: 30px;
 }
/* banner section style */
.content-section{
    
}
.content-title{
    font-weight: 900;
    font-size: 78px;
    color: #fff;
}
.shape{
    font-family: "miama";
}
.content-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.banner{
    display: flex;
    gap: 54px;

}
.btn-primary, .join-btn{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
    padding: 16px;
    background: rgb(230, 83, 60);
}
.btn-secondary{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 42px;
    padding: 16px;
    border: 1px solid #fff;
    background-color: black;
}
.card{
    padding-top: 23px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    position: relative;
    top: -430px;
    left: 240px;
    /* margin-top: -430px;
    margin-left: 240px; */
    width: 193px;
    height: 98px;
}
.card-title-1{
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
}
.card-sub-title{
    font-size: 13px;
    /* font-weight: 400; */
    color: rgba(255, 255, 255, 0.65);
}
.img-section{
   margin-left: 50px;
position: relative;
}
.card h2{
    display: inline;
}
.card-1{
    padding-top: 23px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    position: relative;
    left: -86px;
    top:-318px;
    width: 206px;
    height: 96px;
    
}
.ball{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
    margin: 20px;

    
}

.card-title-2{
    font-size: 36px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    display: inline;
    
}
.card-title-2 h2{
}
.card-1 h2{
    display: inline;
}
.card-ball{
    display: flex;
}
/* habit section style */
.main-section{
    max-width: 1040px;
    margin: 0 auto;
}
.habit-content{
    color: #fff;
    text-align: center;
    width: 671 px;
    margin: 0 auto;
}
.habit-title{
    font-size: 48px;
    font-weight: 900;
}
.habit-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* card style */
.habit{
    display: flex;
    /* gap: 40px; */
}
.habit-card{
    text-align: center;
}
.card-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.card-title{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.card-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
/* join section style */
.join-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    height: 371px;
    margin-top: 100px;
    color: #fff;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.join-img{}
.j-img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin-right: 32px;

}
.join-content{
    width: 443px;
    /* margin-right: 100px; */
    padding: 50px;
}
.join-title{
    font-size: 48px;
    font-weight: 900;
}
.join-description{
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.join-btn{
    padding: 12px 40px 12px 40px;   
    margin-top: 10px;
}